.App {
  text-align: center;
}

body {
  background-color: rgb(105, 240, 255);
}

#head {
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  font-family: Georgia;
  margin: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.To-Do-Item {
  margin: 30px;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  padding: 10px;
  font-size: 130%;
  font-style: italic;
  font-family: Georgia;
  text-align: center;
  background-color: white;
}

.To-Do-Item div {
  margin: 5px 0px;
}

.To-Do-Item button {
  margin-left: 50%;
  block-size: 50px;
  font-size: 110%;
  border-radius: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
